@Model WebApplication1.ConnectModel

@{
    ViewBag.Title = "GetByFilter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetByFilter</h2>

@using (Html.BeginForm("GetByFilter", "Connect", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.)

        </div>




    </div>
    
   
}